@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collapse-content {
  overflow: hidden;

  /* Set your desired max height */
  transition: height 0.3s ease-in-out;
  /* Smooth transition */
}

.collapsed {
  height: 0;
}

.addproduct-header select {
  appearance: none;
  --webkit-appearance: none;
  background-image: url(/DownArrowWhite.png);
  background-repeat: no-repeat;
  background-position: right 33px center;
}

@media (max-width: 575px) {
  .addproduct-header select {
    background-position: right 20px center;
  }
}

.form-container {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  padding: 34px 34px 50px 34px;
  margin-top: 26px;
}

.form-control label {
  color: var(--Dark, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.input-primary {
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  background: #f5f5f5;
  padding: 17px 22px;
  margin-top: 13px;
}

.form-container select,
.form-control select {
  color: var(--Dark, #000);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  appearance: none;
  --webkit-appearance: none;
  background-image: url(/DownArrowBlack.png);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.checkbox-round {
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  top: -4px;
  left: -4px;
  width: 22px;
  height: 22px;
}

.checkbox-round:checked::after {
  border-color: #6bcb77;
}

.checkbox-round:checked {
  background: #6bcb77 !important;
  border-radius: 50%;
  height: 16px !important;
  margin-right: 1px;
  position: relative;
  width: 16px !important;
}

.date-picker {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(/Calendar.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.input-primary::placeholder {
  color: var(--Dark, #000);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 117.647% */
}

.thm-btn {
  padding: 17px 33px;
  border-radius: 50px;
  background: var(--Primary, #6bcb77);
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 117.647% */
  cursor: pointer;
}

.btn-secondary {
  padding: 15px 33px;
  border-radius: 50px;
  border: 1px solid var(--Dark, #000);
  color: var(--Dark, #000);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 117.647% */
  cursor: pointer;
}

@media (max-width: 650px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .form-control {
    margin: 20px 0;
  }
}

/* text Editor */
.ql-toolbar.ql-snow {
  padding: 15px !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border-radius: 6px !important;
  border: 1px solid #d7d7d7 !important;
  background: #f5f5f5 !important;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 36.129px;
  height: 31.236px;
  background-color: #fff !important;
  border: 1px solid #919191 !important;
  margin-right: 11px !important;
  border-radius: 3px !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}

@media (max-width: 450px) {
  .ql-toolbar.ql-snow .ql-formats {
    margin: 5px;
  }
}

/* Banner */

.banner-header {
  background-image: url(/moon-dust-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Product */

.product-card_footer {
  background-image: url(/light-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-card_footer {
  background-image: url(/dark-bg.png);
}

/* details View */
.details-banner {
  background-image: url(/details-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.details-select {
  appearance: none;
  --webkit-appearance: none;
  background-image: url(/Down-Arrow-select.png);
  background-size: center;
  background-repeat: no-repeat;
  background-position: right 27px center;
}

.poduct-details-img::after {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 7px;
}

/* @media (min-width: 1680px) {
  .details-banner .container {
    padding-top: 88px;
    padding-bottom: 71px;
  }
} */
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  margin-top: -80px;
  padding-top: 80px;
  margin-bottom: -80px;
  padding-bottom: 80px;
}

table {
  border-spacing: 0px;
}

.wishlist-table table th {
  color: var(--Dark, #000);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 120% */
}
.wishlist-table table td {
  text-align: center;
}
.wishlist-table table td:first-child {
  text-align: left;
}
.wishlist-table table th:first-child {
  text-align: left;
}

.wishlist-table table th {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.wishlist-table table td {
  padding-top: 25px !important;
  padding-bottom: 30px !important;
}
.wishlist-table table tr:first-child td {
  padding-top: 0px !important;
  padding-bottom: 30px !important;
}

.wishlist-table table th:last-child,
td:last-child {
  padding-right: 0px !important;
}
.wishlist-table table th:first-child,
td:first-child {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wishlist-table table td {
  border-bottom: 1px solid #ebebeb;
}
.wishlist-table table tr:last-child td {
  border-bottom: none;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* <div className='grid grid-cols-1 lg:grid-cols-2 gap-[106px]'>
<div>
  <div>
    <label htmlFor=''>Order Notes</label>
    <input
      className='w-full h-[58px] border-[1px] border-[#E6E6E6]'
      type='text'
    />
  </div>
  <div>
    <label htmlFor=''>Order Notes</label>
    <input type='text' />
  </div>
</div>
</div> */
